<template lang="pug">
  .nd 
    | Hello! I'm NuxtJS!
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'IndexPage',
});
</script>

<style lang="scss">
.nd {
  font-size: 20px;
}
</style>